.menu {
    position:absolute;
    background-color: #151515;
    color: white;
    border: 1px solid #ccc;
    z-index: 5;
    padding: 10px;
    border-radius: 5px;
}

.submenu {
    position: absolute;
    top: 20;
    left: 100;
    background: #101010;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}