.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  
  // Prevent overflow and ensure full viewport coverage
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #202020;

  justify-content: space-around;
} 

.side {
  width: 20%;
  height: 98%
}

.middle {
  width: 45%;
  
}