.map-wrapper {
  position: relative;
  width: calc(100% - 60px);
  aspect-ratio: 1 !important;
  padding: 40px;
  padding-right: 20px;
}

.map-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: white;
}

.toolbar-container {

}

.interaction-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  aspect-ratio: 1;
}

.map-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.x-axis, .y-axis {
  position: absolute;
  color: #9e9e9e;
  font-size: 12px;
}

.x-axis {
  bottom: -15px;
  left: 0;
  width: 100%;
  
  .axis-label {
    position: absolute;
    transform: translateX(-50%);
  }
}

.y-axis {
  left: -25px;
  bottom: 0;
  height: 100%;
  
  .axis-label {
    position: absolute;
    transform: translateY(50%);
  }
}
